@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  color: #f1f1f1 ;
} */

@keyframes pulse {
  50% {
    opacity: 0.7;
  }
}
.animate-pulse-avatar {
  animation: pulse 1.6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
